{% extends 'Anime/base.html' %}
{% block title %} article.title {% endblock %}

{% block content %}
    <div class="features">
        <h1>🅐🅝🅘🅜🅔</h1>
        <h1>{{ article.title }}</h1>
        <p>{{ article.date }}</p>
        <p>{{ article.full_text }}</p>
        <p>{{ article.image }}</p>
        <a href="{% url 'news-delete' article.id %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'news-update' article.id %}" class="btn btn-info">Редактировать</a>
    </div>
{% endblock %}